.nav-t {
  display: flex;
  gap: 10;
  align-items: center;
}
.nav-t a {
  text-decoration: none;
  margin-right: 20px;
  color: black;
}

.active-tabs {
  border-bottom: 2px solid #2a7aad;
  color: #2a7aad;
  width: fit-content;
}
.logout-btn {
  background-color: #2196f3; /* Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease-in-out, transform 0.2s ease;
}

.logout-btn:hover {
  background-color: #dc3545; /* Red on hover */
  transform: scale(1.05); /* Slightly increase size */
}

.logout-btn:active {
  transform: scale(0.95); /* Button click effect */
}
